.frame {
  border-radius: 10px;
  width: 35px;
  height: 20px;
  cursor: pointer;
}

.sliderLeft {
  border-radius: 10px;
  background-color: #c0c0c0;
  width: 20px;
  height: 20px;

  margin-left: 0px;
  margin-right: auto;
}

.sliderRight {
  border-radius: 10px;
  background-color: #c0c0c0;
  width: 20px;
  height: 20px;

  margin-left: auto;
  margin-right: 0px;
}
